<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ref https://getbootstrap.com/docs/5.2/examples/sidebars -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/chatting/" />
    <title>chatting</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/chatroom.css">
    <link rel="stylesheet" type="text/css" href="css/common/layui.css">
    <link rel="stylesheet" type="text/css" href="css/common/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common/fileinput.min.css">
    <link rel="icon" href="https://cdn.sxrekord.com/blog/favicon.ico">
    <meta name="theme-color" content="#712cf9">


    <style>
        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/sidebars.css" rel="stylesheet">
</head>

<body br-mode="off" saccades-color="" fixation-strength="2" saccades-interval="0"
    style="--fixation-edge-opacity:80%; --br-line-height:1; --br-boldness:600;">

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="bootstrap" viewBox="0 0 118 94">
            <title>Bootstrap</title>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
            </path>
        </symbol>
        <symbol id="home" viewBox="0 0 16 16">
            <path
                d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z">
            </path>
        </symbol>
        <symbol id="speedometer2" viewBox="0 0 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z">
            </path>
            <path fill-rule="evenodd"
                d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z">
            </path>
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
            <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z">
            </path>
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
            </path>
        </symbol>
        <symbol id="grid" viewBox="0 0 16 16">
            <path
                d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z">
            </path>
        </symbol>
    </svg>

    <main>
        <div class="d-flex flex-nowrap">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn.sxrekord.com/blog/logo.jpg" alt="" width="32" height="32"
                            class="rounded-circle me-2">
                        <strong>Rekord</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New
                                project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign
                                out</a></li>
                    </ul>
                </div>
            </div>
            <div class="b-example-divider b-example-vr"></div>

            <div class="qqBox">
                <div class="BoxHead">
                    <div class="headImg">
                        <img id="avatarUrl" src="" />
                    </div>
                    <div id="username" class="internetName"></div>
                    <div id="head_balance">
                        <button class="close logout" onclick="logout()">&times;</button>
                    </div>
                </div>
                <div class="context">
                    <div class="conLeft">
                        <ul>

                        </ul>
                    </div>
                    <div class="conRight">
                        <div class="Righthead">
                            <div class="headName"></div>
                        </div>
                        <div class="RightCont">
                            <ul class="newsList-temp"></ul>
                            <ul class="newsList">
                            </ul>
                        </div>
                        <div class="RightFoot">
                            <div class="emjon">
                                <ul>
                                    <li><img src="img/emoji/emoji_01.png"></li>
                                    <li><img src="img/emoji/emoji_02.png"></li>
                                    <li><img src="img/emoji/emoji_03.png"></li>
                                    <li><img src="img/emoji/emoji_04.png"></li>
                                    <li><img src="img/emoji/emoji_05.png"></li>
                                    <li><img src="img/emoji/emoji_06.png"></li>
                                    <li><img src="img/emoji/emoji_07.png"></li>
                                    <li><img src="img/emoji/emoji_08.png"></li>
                                    <li><img src="img/emoji/emoji_09.png"></li>
                                    <li><img src="img/emoji/emoji_10.png"></li>
                                    <li><img src="img/emoji/emoji_11.png"></li>
                                    <li><img src="img/emoji/emoji_12.png"></li>
                                    <li><img src="img/emoji/emoji_13.png"></li>
                                    <li><img src="img/emoji/emoji_14.png"></li>
                                    <li><img src="img/emoji/emoji_15.png"></li>
                                    <li><img src="img/emoji/emoji_16.png"></li>
                                    <li><img src="img/emoji/emoji_17.png"></li>
                                    <li><img src="img/emoji/emoji_18.png"></li>
                                    <li><img src="img/emoji/emoji_19.png"></li>
                                    <li><img src="img/emoji/emoji_20.png"></li>
                                    <li><img src="img/emoji/emoji_21.png"></li>
                                    <li><img src="img/emoji/emoji_22.png"></li>
                                    <li><img src="img/emoji/emoji_23.png"></li>
                                    <li><img src="img/emoji/emoji_24.png"></li>
                                </ul>
                            </div>
                            <div class="footTop">
                                <ul>
                                    <li class="ExP">
                                        <img src="img/emoji.jpg">
                                    </li>
                                    <li class="file-upload">
                                        <a data-toggle="modal" data-target="#upload-modal" data-backdrop="static">
                                            <img src="img/upload.jpg">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="inputBox">
                                <input id="toUserId" type="hidden">
                                <input id="toGroupId" type="hidden">
                                <textarea id="dope" style="width: 99%;height: 75px; border: none;outline: none;" name=""
                                    rows="" cols=""></textarea>
                                <button title="按下回车可发送" class="sendBtn">发送</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="upload-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title text-primary">文件上传</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">选择文件</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="file" class="col-sm-9 myfile" />
                                            <p class="help-block">注意：文件大小不超过30M，有效期为7天</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="upload-cancel" class="btn btn-sm btn-muted" data-dismiss="modal">
                                    <i class="glyphicon glyphicon-remove"></i> 取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>



    <script type="text/javascript" src="js/common/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/common/jquery.actual.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/common/fileinput.min.js"></script>
    <script type="text/javascript" src="js/common/zh.js"></script>
    <script type="text/javascript" src="js/chatroom.js"></script>
    <script type="text/javascript">
        var userId;
        var socket;
        var sentMessageMap;

        // 获取用户信息
        setUserInfo();

        if (!window.WebSocket) {
            window.WebSocket = window.MozWebSocket;
        }
        if (window.WebSocket) {
            // 本质还是 HTTP 请求，服务端将升级该请求到 WebSocket 连接
            socket = new WebSocket("ws://" + window.location.hostname + ":3333");
            socket.onmessage = function (event) {
                var json = JSON.parse(event.data);
                if (json.status == 200) {
                    var type = json.data.type;
                    console.log("收到一条新信息，类型为：" + type);
                    switch (type) {
                        case "REGISTER":
                            ws.registerReceive();
                            break;
                        case "SINGLE_SENDING":
                            ws.singleReceive(json.data);
                            break;
                        case "GROUP_SENDING":
                            ws.groupReceive(json.data);
                            break;
                        case "FILE_MSG_SINGLE_SENDING":
                            ws.fileMsgSingleRecieve(json.data);
                            break;
                        case "FILE_MSG_GROUP_SENDING":
                            ws.fileMsgGroupRecieve(json.data);
                            break;
                        default:
                            console.log("不正确的类型！");
                    }
                } else {
                    alert(json.msg);
                    console.log(json.msg);
                }
            };

            // 连接成功1秒后，将用户信息注册到服务器在线用户表
            socket.onopen = setTimeout(function (event) {
                console.log("WebSocket已成功连接！");
                ws.register();
            }, 1000)

            socket.onclose = function (event) {
                console.log("WebSocket已关闭...");
            };
        } else {
            alert("您的浏览器不支持WebSocket！");
        }

    </script>

    <script src="js/common/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="js/sidebars.js"></script>

</body>

</html>