<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxrekord.chatting.dao.FileDao">
    <update id="updateExpirePolicy" parameterType="File" keyProperty="id">
        update `file`
        set expire_policy = #{expirePolicy},
        expire_time = GREATEST(expire_time, DATE_ADD(#{expireTime}, INTERVAL 7 DAY))
        where `id` = #{id};
    </update>
</mapper>