<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxrekord.chatting.dao.GroupDao">
    <sql id="selectFields">
        id, name, owner_id, avatar_path
    </sql>

    <sql id="insertFields">
        name, owner_id, avatar_path
    </sql>

    <resultMap id="GroupDao" type="Group">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar_path" jdbcType="VARCHAR" property="avatarPath"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
    </resultMap>

    <select id="getGroupById" parameterType="java.lang.Long" resultMap="GroupDao">
        select
        <include refid="selectFields"/>
        from `group`
        where id = #{id}
    </select>

    <select id="searchGroupByName" parameterType="java.lang.String" resultMap="GroupDao">
        select
        <include refid="selectFields"/>
        from `group`
        where name like #{name};
    </select>

    <select id="listGroupByOwnerId" parameterType="java.lang.Long" resultMap="GroupDao">
        select
        <include refid="selectFields"/>
        from `group`
        where owner_id = #{ownerId};
    </select>
    <insert id="insertGroup" parameterType="Group" keyProperty="id">
        insert into `group` (<include refid="insertFields"/>)
        values (#{name}, #{ownerId}, #{avatarPath});
    </insert>
</mapper>