<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxrekord.chatting.dao.RelationDao">

    <resultMap id="RelationDao" type="Relation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="request_id" jdbcType="INTEGER" property="requestId"/>
        <result column="accept_id" jdbcType="INTEGER" property="acceptId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="listUserIdByUserId" resultType="java.lang.Long">
        select request_id from relation
        where type = 0 and accept_id = #{id}
        union
        select accept_id from relation
        where type = 0 and request_id = #{id};
    </select>

    <select id="listGroupIdByUserId" resultType="java.lang.Long">
        select accept_id from relation
        where type = 1 and request_id = #{id};
    </select>

    <select id="listUserIdByGroupId" resultType="java.lang.Long">
        select request_id from relation
        where type = 1 and accept_id = #{id};
    </select>

    <insert id="insertRelation" parameterType="Relation" keyProperty="id">
        insert into relation (`request_id`, `accept_id`, `type`, `status`)
        values (#{requestId}, #{acceptId}, #{type}, #{status});
    </insert>

    <update id="updateRelation" parameterType="Relation" keyProperty="id">
        update relation
        set status = #{status}
        where type = #{type} and ((request_id = #{requestId} and accept_id = #{acceptId})
        <if test="type == 0">
            or (request_id = #{acceptId} and accept_id = #{requestId})
        </if>
        );
    </update>
</mapper>